doctype html
html
    head
        meta(content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='/styles/style.css')
       
    body
        script(src='/js/common.js')
        script(src='/js/vendors/underscore-min.js')
        div(id='drawerIndicatorOverlay', class='overlay')
        div(id='sidenavBlocker' class='sidenavigation_blocker_overlay')
        div(class='sidenavigation')
          prueba de templateeeee
